<div class="main">
   <div class="main-data">
    <h1>Move the world</h1>
   </div>
   <div class="input d-flex">
      <svg  class="icons" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.7958984px" height="18.9273891px" viewBox="0 0 18.7958984 18.9273891" style="enable-background:new 0 0 18.7958984 18.9273891;enable-background:new 0 0 18.7958984 18.9273891" xml:space="preserve" gi-icon="unisporkal/getty/search"> <path d="M18.7958984,16.9035645l-4.3776245-4.3772583c0.9204102-1.2965698,1.4672241-2.8759766,1.4672241-4.5835571
         C15.885498,3.5631714,12.3223267,0,7.942749,0C3.5631104,0,0,3.5631714,0,7.942749
         c0,4.3799438,3.5631104,7.9431152,7.942749,7.9431152c1.7074585,0,3.2866821-0.546814,4.5831909-1.4672241l4.3776245,4.3772583
         L18.7958984,16.9035645z M7.942749,13.2094116c-2.9038696,0-5.2663574-2.3624878-5.2663574-5.2666626
         c0-2.9038086,2.3624878-5.2662964,5.2663574-5.2662964c2.9038086,0,5.2662964,2.3624878,5.2662964,5.2662964
         C13.2090454,10.8469238,10.8465576,13.2094116,7.942749,13.2094116z"></path> </svg>
      <input type="text" class="main-input" placeholder="Search the world's best creative photoes and images">
      <svg   class="icons" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.3px" height="22.6px" viewBox="0 0 24.3 22.6" style="enable-background:new 0 0 24.3 22.6;enable-background:new 0 0 24.3 22.6" xml:space="preserve" gi-icon="unisporkal/getty/camera"> <path d="M12.1,9.3c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5c1.9,0,3.5-1.6,3.5-3.5C15.6,10.9,14,9.3,12.1,9.3z"></path> <path d="M18,3.7l-1.8-3.6H7.9L6.2,3.7H0v18.7h24.2V3.7H18z M12.1,19.1c-3.4,0-6.2-2.8-6.2-6.2c0-3.4,2.8-6.2,6.2-6.2
         c3.4,0,6.2,2.8,6.2,6.2C18.3,16.3,15.5,19.1,12.1,19.1z M20.7,8.2c-0.7,0-1.2-0.5-1.2-1.2s0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2
         S21.3,8.2,20.7,8.2z"></path> </svg>
   </div>
</div>
      
   
   <div class="main-navbar d-flex flex-row justify-content-between">
      <a href="">CREATIVE</a>
      <a  href="">EDITORIAL</a>
      <a  href="">VIDEOS</a>
      <a  href="">MUSIC</a>
      <a  href="">BLOG</a>
      <a  href="">COLLECTION</a>
      
   </div>

   <div class="main-images">
      <div>
         <img src="https://media.gettyimages.com/photos/woman-girl-taking-picture-on-smartphone-picture-id1284904840?s=2048x2048" height=300px width=400px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/transgender-office-manager-smiling-while-chatting-to-colleague-picture-id1314540769?s=2048x2048" height=300px width=400px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/small-town-manarola-riomaggiore-province-of-la-spezia-picture-id1327638784?s=2048x2048" height=300px width=400px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/view-of-construction-site-excavator-loading-earth-into-dump-truck-picture-id1326725114?s=2048x2048" height=300px width=383px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/orange-popsicle-picture-id1312815204?s=2048x2048" height=300px width=383px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/furry-camper-picture-id1254084812?s=2048x2048" height=300px width=383px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/surfer-in-black-wet-suit-walking-into-turbulent-waters-carrying-picture-id1131069857?s=2048x2048" width=383px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/cylindric-shapes-picture-id1298411722?s=2048x2048" height=300px width=383px routerLink="/Editorial">
         <img src="https://media.gettyimages.com/photos/crowded-housing-apartment-buildings-in-hong-kong-china-picture-id1307717987?s=2048x2048" height=300px width=383px routerLink="/Editorial">
         <!-- <img src="https://media.gettyimages.com/photos/wood-tray-with-tea-on-orange-bed-picture-id1316032046?s=2048x2048" height=300px width=383px routerLink="/Editorial">
         <img src="" height=300px width=383px routerLink="/Editorial"> -->
         
      </div>
      <!-- <div class="row">
         <div class="col-4"><img src="https://media.gettyimages.com/photos/woman-girl-taking-picture-on-smartphone-picture-id1284904840?s=2048x2048" height=300px width=400px routerLink="/Editorial"></div>
         <div class="col-4"><img src="https://media.gettyimages.com/photos/transgender-office-manager-smiling-while-chatting-to-colleague-picture-id1314540769?s=2048x2048" height=300px width=400px></div>
         <div class="col-4"><img src="https://media.gettyimages.com/photos/small-town-manarola-riomaggiore-province-of-la-spezia-picture-id1327638784?s=2048x2048" height=300px width=400px></div>
      </div>   
      <div class="row">
         <div class="col-4"><img src="https://media.gettyimages.com/photos/view-of-construction-site-excavator-loading-earth-into-dump-truck-picture-id1326725114?s=2048x2048" height=300px width=400px></div>
         <div class="col-4"><img src="https://media.gettyimages.com/photos/orange-popsicle-picture-id1312815204?s=2048x2048" height=300px width=400px></div>
         <div class="col-4"><img src="https://media.gettyimages.com/photos/furry-camper-picture-id1254084812?s=2048x2048" height=300px width=400px></div>
      </div>   
      <div class="row">
         <div class="col-4"><img src="https://media.gettyimages.com/photos/surfer-in-black-wet-suit-walking-into-turbulent-waters-carrying-picture-id1131069857?s=2048x2048" height=300px width=400px></div>
         <div class="col-4"><img src="https://media.gettyimages.com/photos/cylindric-shapes-picture-id1298411722?s=2048x2048" height=300px width=400px></div>
         <div class="col-4"><img src="https://media.gettyimages.com/photos/crowded-housing-apartment-buildings-in-hong-kong-china-picture-id1307717987?s=2048x2048" height=300px width=400px></div>
      </div>    -->
    </div>

   
   
